@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  i {
    color: #228be6;
  }

  .bg-img {
    height: 100vh;
    background-image: linear-gradient(
        rgb(34, 34, 34, 0.6),
        rgb(34, 34, 34, 0.6)
      ),
      url(../images/682419.jpg);
    background-size: cover;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
  }
  .info-text {
    height: 100vh;
    line-height: 1.6;
  }
  .cert2,
  .bar-list {
    border: none;
  }
  .cross,
  .footer-text {
    display: none;
  }
}
