@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  i {
    color: #228be6;
  }

  .bg-img {
    height: 50vh;
    background-image: linear-gradient(
        rgb(34, 34, 34, 0.6),
        rgb(34, 34, 34, 0.6)
      ),
      url(../images/banner.jpg);
    background-size: cover;
    color: #fff;
    background-position: center;
  }
  .banner-text {
    display: flex;
    flex-direction: column;
  }
  .bar-img {
    margin: 0;
  }
  .bar-img img {
    display: none;
  }
  .project-place {
    display: flex;
    flex-direction: column;
  }
  .cert-img {
    display: flex;
    flex-direction: column;
  }
  #certificate img {
    width: 300px;
    height: 150px;
  }
}
