@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .project {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 0.5fr 0.5fr 0.8fr 0.4fr 1fr;
    grid-template-areas:
      "project-goal"
      "project-scope"
      "project-team"
      "project-primary"
      "project-timeline";
  }
  .timeline-cross,
  .project-detail {
    flex-direction: column;
  }
  .scope-detail {
    flex-direction: column;
    gap: 50px;
  }
  i {
    text-align: center;
  }
  .timeline-icon {
    align-self: self-start;
  }
}
